<div id="content_top">
<h2>Within Literature there are endless sonic possibilities</h2>
<%= link_to_unless_current "Generate Music", :controller => "example" , :action => "write_text" %>
<%= link_to_unless_current "Theory", :controller => "main", :action => "theory" %>
<%= link_to_unless_current "About", :controller => "main", :action => "about" %>
</div>
<center>
<div id="content">

<h4>Text 2 Midi also known as Literature 2 Music</h4>
<br/>
<p> This is a Project that i started as a stand alone Application First has now created it into a rails Music app that converts text into midi
the site allows you to input text and convert into midi compostion that can be used with any outside Software Synth or Midi Hardware</p>

<p> Future plans are to create multi-channel Generating system that will allow more complex compositions and the ability to pull in rss feeds as music tracks</p>

<h5>Design Team</h5>
<ul>
<li>Gabriel Garrod</li>
<li>Chris Reister</li>
</ul>
    


</div>
<div id="footer">
<br/><br/><br/>
Designed and created by Gabriel D Garrod email: => GabrielG1976@gmail.com
</div>