<div id="content_top">
<h2>Within Literature there are endless sonic possibilities</h2>
<%= link_to_unless_current "Generate Music", :controller => "example" , :action => "write_text" %>
<%= link_to_unless_current "Theory", :controller => "main", :action => "theory" %>
<%= link_to_unless_current "About", :controller => "main", :action => "about" %>
</div>
 
  <center>
<div id="content">
This text2midi concept can be from computerized random noise interpretations of the text to being played live on stage with real Instruments.
The notes patterns are all predetermined by the text but all the instruments, tempo, key, scales and overall live techniques are all up to the Artist/producers Interpretation.
<br/>
</div>
<div id="footer">
<br/><br/><br/>
 Designed and created by Gabriel D Garrod email: => GabrielG1976@gmail.com
</div>
</center>
