<div id="footer">
<embed src="/midifiles/<%= @filename %>" width="200" height="16" autostart="TRUE" loop="FALSE"> 
</embed>
<br/>
<b> Right Click Download to save to your Computer</b>
<br/>
<a href="/midifiles/<%= @filename %>">Download</a>

<br/><br/>
Designed and created by Gabriel D Garrod email: => GabrielG1976@gmail.com
</div>
